{% extends "base.html" %} {% block title %} {% endblock %} {% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"></h1>
            <p class="lead text-muted">Yelp Recommend System</p>
            <form method="POST" action="/recommend">
                <div class="form-group">
                    <input type="text" class="form-control" name="tf" placeholder="Hotel near Chicago">
                </div>

                <button type="submit" class="btn btn-primary">search</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}